bms/
backup/
!backup/
Tasmota/Backup/
HomeAssistant/ESPHome/secrets/secrets.yaml
HomeAssistant/config/secrets.yaml
HomeAssistant/config/!backup/
*.yaml_
**home-assistant_v2.db
HomeAssistant/!Examples/
Tasmota/Firmware/
HomeAssistant/config/mqtt/**
HomeAssistant/config/mqtt/
HomeAssistant/config/packages/pck_solar_production/pck_solar_production_mppt_adjust_amps_charger.yaml
